#navbuttonss {
	border-width: 2px;
	border-radius: 7px;
	border-color: black;
	outline-width: thick;
}

.jumbotron {
	padding-top: 5%;
	margin-top: -35px;
	margin-bottom: -35px;
	height: 100%;
}

.title {
	text-align: center;
}

.form-group {
	padding-top: 20px;
	line-height: 5px;
}

#footer {
	background-color: #222222;
	height: 10%;
}

input {
/*	margin-top: 5%;
*/	margin-bottom: 5%;
}

.swag2 {
	margin-top: 5%;
	margin-bottom: 5%;
}

#subject {
/*	padding:5px;
*/	margin-top: 25px;
	margin-bottom: 25px;
/*	padding: 20px 20px;
*/    border: 1px solid #cccccc;
	border-radius: 0px;
    height: 50px;
    line-height: 1.5em;
    background-color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;

   /* -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;*/

}
